.cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    position: relative;
    align-items: center;
}

.cabecalho__menu {
    display: inline-block;
    background-image: url("../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;

}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cabecalho-imagem{
    padding: 1em;
}

.container__imagem {
    width: 40px;z
    padding: 1em;
}

.cabecalho-lista {
    display: none;
    background-color: var(--branco);
    position: absolute;
    top: 100%;
    width: 50vw;
}

.container__botao:checked~.cabecalho-lista {
       display: block;
}

.cabecalho-lista-titulo{
    color: var(--branco)
    padding : 1em;
    font-weight: 700;
    text-transform: uppercase;

.container__botao {
       display: none;
}

.cabecalho__menu.cabecalho__menu:checked.cabecalho-lista {
    display: block;
}

.container_menu {
    display: none;

}.menu__lista-item{
    background: var(--cor-principal);
    color:var(--branco);
}

.opcoes {
    display: none;
} 


@media screen and (1024px) {
    .container-titulo
    display: block;
    font-family : var(--fonte-principal);
    font-weight : 400;
    fort-size: 30px;
}
    .cabecalho__menu{
        display: none;

    }
    
.cabecalho__favorito{
    display: none;
}

.cabecalho-lista-titulo{
    color: var(--branco)
    padding : 1em;
    font-weight: 700;
    text-transform: uppercase;
}

.menu__lista-item{
    color:var(--branco);
}

@media screen and (min-width: 1024px) {
    .container-titulo{
        display: block;
        font-family: var(--fonte-principal);
        font-weight: 400;
        font-size: 30px;
    }

    .cabecalho__menu{
        display: none;
    }

    .cabecalho__favorito{
        display: none;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 2em;
        text-transform: uppercase;
        color: var(--branco);
    }

    .opcoes__link{
        text-decoration: none;
        color: var(--branco);
    }

    .opcoes__botao:checked ~.cabecalho-lista{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }
}